button {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color:rgb(1 22 39);
  border: 1px solid rgb(1 22 39);
  margin-bottom: 10px;
}
